*.pyc
*.pth
DeepfakeBench/models--openai--clip-vit-large-patch14
.kilocode
.venv
figs
inference_results.txt
logs
*.png
*.jpg
*.jpeg
dataset*.json
facedata
.kilocodeignore
.agent/
.cursor/
.gemini/
.kilocode/
.opencode/
.ruff_cache/
.specify/
.vscode/
.DS_Store

gha-creds-*.json
